body {
  box-sizing: border-box;
  width: 80vw;
  margin: auto;
}

#collection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* gap: 20px; */
  min-height: 50vh;
  flex-wrap: wrap;
}

.book {
  width: 25%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  padding: 10px;
}

[data-booktitle] {
  text-align: left;
  border-bottom: 1px darkgreen dotted;
  font-size: 18px;
  font-weight: bolder;
  height: 50px;
  align-items: center;
}

[data-bookauthor],
[data-bookpages],
[data-bookstatus] {
  display: none;
}

[data-booktitle]::after {
  content: "\00BB";
  display: inline-block;
  transform: rotate(90deg) translateY(-10px);
}

.visibleClass {
  display: flex;
}

.visibleClass[data-booktitle]::after {
  content: "\00BB";
  display: inline-block;
  transform: rotate(270deg) translateY(10px);
  /* content: "\21A5"; */
}

li {
  list-style: none;
  width: 90%;
  /* align-self: center; */
  padding: 10px;
  line-height: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li > span {
  flex-grow: 1;
  min-width: 45px;
}

ul > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#formdiv {
  visibility: hidden;
  position: absolute;
  background: white;
  top: 100px;
  width: 50vw;
  height: 60vh;
  margin: auto 15vw;
}

#bringformbutton {
  visibility: visible;
  align-self: end;
  margin-right: 10px;
}

#bringform {
  font-size: 18px;
  width: 200px;
}

#currentcollection {
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin-top: 10vh;
}

.bookRemoval:hover {
  cursor: pointer;
}

.statusRead {
  color: green;
  margin-left: 10px;
  font-size: 20px;
}

.statusNot {
  margin-left: 20px;
  color: red;
  font-size: 10px;
}
